@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto Condensed', "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    /* overflow: scroll;    */
}

.hero{
    background:url('../img/4.jpg') #d0dafd;
    width: 100%;
    height: 100vh;
    /* agregar un alt     */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
}

.menu-index{
    z-index: 10;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
    padding: 5px;
    border: none;
    background: #068bb30e;

}

.menu{
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
    padding: 5px;
    border: none;
    background-image: radial-gradient(circle at 50% -20.71%, #8ab7cc 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
}

.titulo{
    width: 40%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 30px;
    /* padding: 2px; */
    /* padding-left: 30px; */
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Cinzel', Serif, 'Times New Roman', Times, serif;
    font-family: 'Berkshire Swash', cursive;

}

.lista{
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Cinzel', Serif, 'Times New Roman', Times, serif;
}

.sublista{
    z-index: 3;
    width: 110px;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #3cb5f2f1;
    padding: 10px;
    list-style: none;
    position: absolute;
    top: 60px;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.items{
    margin-left: 3px;
}

.link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    display: block;
    width: 110px;
    text-align: center;
    line-height: 60px;
}

.link-titulo{
    width: 100%;
    height: 100%;
}

.sublink{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 110px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.199);
}

.link:hover{
    background:rgba(255, 255, 255, 0.336);
    transition: 0.3s ease;
}

.sublink:hover{
    background:rgba(255, 255, 255, 0.336);
    transition: 0.3s ease;
}

.items .sublista{
    display: none;
    position: absolute;
}

.items:hover > .sublista{
    display: block;
    padding: 0;
}


/** MAIN***/
.seccion{
    width: 100%;
    height: auto;    
}

.container{
    max-width: 1000px;
    min-height: 890px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.subtitulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 24px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}

.textarea {
    width: 300px;
    height: 100px;
    resize: none;
    margin: auto;
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
}

.input{
    width: 300px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    outline: none;
    /* text-transform: uppercase; */
    font-family: 'Roboto Condensed', "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

}

.grupo-input{
    width: 100%;
}

.grupo-btn, .grupo-btnReporte{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.botones, .boton1, .boton2{
    width: 80px;
    height: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-family: 'Roboto Condensed', "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
}

.btnB{
    width: 25px;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: crimson;
    background: transparent;
}

.btnO{
    color: blue;
    text-align: center;
    /* background:green; */
    
}
.btnO:hover{
    color: blueviolet;
    cursor: pointer;
    /* background:rgba(0, 128, 0, 0.685); */
}

.btnB:hover{
    background: rgba(220, 20, 60, 0.678);
    color: #fff;
    cursor: pointer;
}

/* Estilos de la tabla */

.boton1{
    width: 150px;
    text-align: center;
    margin-left: 50px;
}

.grupo-btnReporte{
    margin-top: 70px;
}

.boton2{
    width: 40%;
    height: 40px;
    text-align: center;
    border-style: none;
    background: rgb(102, 169, 231);
    color: #fff;
    border-radius: 7px;
}

.boton2:hover{
    background: #7dcefb;
    transition: 0.2s ease;
    border-style: none;
}


.tabla-box{
    margin-bottom: 50px;
}

.tabla{
    max-width: 90%;
    height: 90%;
    margin-top: 45px;
    margin: auto;
    overflow-y:auto; 
}

table {    
    z-index: 1;
    width: 100%;
    margin: auto;
    font-size: 12px;    
    text-align: center;    
    border-collapse: collapse;
}

th {  
    position: sticky;
    top: 0;   
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    /* background: #3E94D0; */
    background: rgb(102, 169, 231);
    color: #fff; 
    border-collapse: collapse; 
    border-right: 1px solid transparent;
}    

td {    
    padding: 8px;     
    background: #fafafa;     
    border-bottom: 1px solid #f2f2f2;
    color: #111;    
    border-top: 1px solid transparent; 
    border-collapse: collapse; 
    /* text-align: center; */
    height: 30px;
}


/* Estilos para el scroll */
.tabla::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tabla::-webkit-scrollbar:vertical {
    width:10px;
}

.tabla::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.tabla::-webkit-scrollbar:horizontal {
    height: 10px;
}

.tabla::-webkit-scrollbar-thumb {
    /* background-color: #797979; */
    background-color: #79797942;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.tabla::-webkit-scrollbar-track {
    border-radius: 10px;  
}


/* Pie de pagina */
.footer{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background:#3E94D0;
    border: 1px transparent;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-pie{
    text-align: center;
    color: #fff;
    line-height: 50px;
}

/* calificacion */
#star {
    width: 300px;
    margin: 0 auto;
    height: 30px;
}

.clasificacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.radio{
    display: none;
}

#star input + label{
    float: right;
    cursor: pointer;
    font-size: 40px;
    margin-left: 10px;
    color: #838383;
    transition: all 0.2s ease;
    
}

#star label:hover ~ label,
#star input:focus ~ label,
#star input:checked ~ label {
  color: #fd4;
}

#star label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

#star input#radio5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 5px #952;
}

.texto{
    width: 300px;
    text-align: center;
}

.box{
    background: #8ab7cc;
    /* background-image: radial-gradient(circle at 50% -20.71%, #8ab7cc 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    background: rgba(73,155,234,1); */
    background: rgb(102, 169, 231);
    width: 90%;
    height: 90%;
    padding-top: 30px;
    color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 0  rgb(192, 192, 192);
    margin: auto;
}

.link-box{
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.box:hover{
    background: #7dcefb;
    transform: scale(1.07);
    transition: 0.2s ease;
}

.subtitulo-box{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

.icono{
    font-size: 100px;
    line-height: 100px;
    margin: auto;
    display: block;
}

.grupo-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.box-contenedor{
    width: 30%;
    height: 270px;
    padding: 15px 10px;
    margin: 10px;
}

.titulo2{
    display: none;
}


@media screen and (max-width:850px) {
    .contenedorbox{
        height: auto;
        padding: 30px 0;
    }
    .box-contenedor{
        width: 35%;
        height: 250px;
    }

    .icono{
        font-size: 80px;
        line-height: 80px;
    }
}

@media screen and (max-width:750px){
    .titulo{
        width: 250px;
        font-size: 25px;
    }
}

@media screen and (max-width:550px){
    .titulo{
        display: none;
    }
    .titulo2{
        display: block;
        width: 150px;
        font-family: 'Berkshire Swash', cursive;
    }

    .box-contenedor{
        width: 70%;
    }
}

@media screen and (max-width:450px){
    .titulo2{
        display: none;
    }
    .lista{
        width: 100%;
    }
}